:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #EF4700;
  --bs-primary-darker: #b33600;
  --bs-primary-rgb: 239, 71, 0;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-btn-bg: #EF4700;
}

body {
  padding-top: 20px;
}

.logo {
  max-width: 300px;
  width: 100%;
  margin: 10px;
}

.text-info {
  font-size: 25px;
  word-break: break-all;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px){
  .text-info {
    font-size: 3.8vw;
  }
}

.text-bullets {
  font-size: 30px;;
}

.icon {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.btn-icon {
  height: 20px;
}
.social-group {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.social-icon {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.container {
  padding: 40px;
}
.background-video {
  border-radius: 25px;
  width: 100%;
}

h2 {
  font-size: 56px;
}

h4 {
  text-transform: uppercase;
  font-size: 21px;
}

.paragraph {
  font-size: 16px;
}

.layout-img {
  max-width: 400px;
  width: 100%;
}

img.check {
  width: 50px;
  margin: 10px 0px 20px;
}

.why-shrunk {
  max-width: 200px;
  flex-grow: 1;
}

.services-list {
  font-size: 22px;
}

.review-name {
  font-weight: bold;
}

.btn-themed {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-themed:hover, .btn-themed:focus, .btn-themed:active {
  background-color: var(--bs-primary-darker) !important;
  border-color: var(--bs-primary-darker) !important;
}